body {
  background: #F9F6F1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.logo {
  display: flex;
  grid-gap: 20px;
  align-items: center;
}

.logo span {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-align: center;
}

.firstcolor-button {
  border: none;
  background: #D7B399;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.header {
  padding: 50px 10px;
  color: #212121;
  font-size: 14px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__for {
  display: flex;
  grid-gap: 35px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.header__delivery-payment {
  display: flex;
  grid-gap: 35px;
}

.header__item {
  font-weight: 500;
  letter-spacing: 0.03em;
}

.header__item img {
  margin-bottom: 3px;
  margin-left: 5px;
}

.header__cart {
  display: flex;
  grid-gap: 15px;
  align-items: center;
}

.header__cart-item:nth-child(2) {
  position: relative;
}

.header__cart-item:nth-child(2) span {
  color: #fff;
  position: absolute;
  left: 55%;
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.03em;
}

.sales {
  margin: 130px 0;
}

.sales__nav {
  display: flex;
  justify-content: space-between;
}

.sales__button {
  height: 55px;
  width: 240px;
  line-height: 20px;
  text-transform: uppercase;
}

.sales__info h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0.02em;
}

.sales__info h1 {
  font-size: 55px;
  line-height: 67px;
  letter-spacing: 0.04em;
}

.slider {
  width: 556px;
  height: 377px;
  overflow: hidden;
}

.slider__list {
  display: flex;
  position: relative;
  transition: all ease 1s;
}

.slider__list div {
  position: relative;
}

.slider__list div span {
  position: absolute;
}

.slider__list div span:nth-child(2) {
  top: 40px;
  right: 7px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-decoration-line: line-through;
  color: #000;
}

.slider__list div span:nth-child(3) {
  top: 83px;
  right: 0;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: right;
  color: #d84033;
}

.slider__toogler {
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  grid-gap: 15px;
}

.slider__toogler .toogle-box {
  background: #CECECE;
  height: 7px;
  width: 40px;
  border: none;
  transition: all ease 1s;
}

.delivery {
  background-color: #212121;
  text-align: center;
  padding: 70px;
  color: white;
}

.delivery p {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 23px;
  letter-spacing: 0.02em;
}

.delivery p span {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.delivery span {
  font-size: 21px;
  font-weight: 300;
  line-height: 26px;
}

.wears-collections__nav {
  display: flex;
}

.wears-collections__item:nth-child(1) {
  background: #F9F6F1;
}

.wears-collections__item:nth-child(2) {
  background: #F4F4F4;
}

.wears-collections__item {
  position: relative;
  width: 555px;
  max-height: 250px;
  padding: 60px 0px 60px 35px;
}

.wears-collections__item span {
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.wears-collections__item span span {
  font-family: 'Montserrat';
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.06em;
}

.wears-collections__item p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.wears-collections__item button {
  width: 80px;
  height: 30px;
  margin-top: 40px;
}

.wears-collections__item .collections__picture {
  position: absolute;
  right: 15px;
  bottom: 0px;
}

.wears__box {
  display: flex;
  flex-wrap: wrap;
}

.wears__element {
  width: 277px;
  height: 236px;
  position: relative;
}

.wears__element span {
  position: absolute;
  left: 30px;
  bottom: 24px;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 0.03em;
  z-index: 2px;
}

.newmodels {
  background-color: #fff;
  padding: 150px 0;
}

.newmodels__content button {
  align-content: center;
  width: 220px;
  height: 55px;
  margin-top: 150px;
  margin-left: 445px;
  font-size: 16px;
}

.newmodels__content button img {
  margin-left: 10px;
  margin-bottom: 3px;
}

.newmodels__row {
  display: flex;
  grid-gap: 30px;
  margin-top: 70px;
}

.newmodels__item {
  position: relative;
  max-width: 255px;
  max-height: 345px;
  padding: 20px 25px;
}

.newmodels__item .subtitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin: 15px 0 15px 0;
  text-align: center;
}

.newmodels__item .cost {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #D7B399;
}

.newmodels__item-corner {
  position: absolute;
}

.newmodels__item-corner:nth-child(1) {
  left: 0;
  top: 0;
}

.newmodels__item-corner:nth-child(2) {
  right: 0;
  top: 0;
}

.newmodels__item-corner:nth-child(3) {
  left: 0;
  top: 320px;
}

.newmodels__item-corner:nth-child(4) {
  right: 0;
  top: 320px;
}

.gifts {
  background-color: #212121;
  padding: 70px 0;
}

.gifts__row {
  display: flex;
  align-content: center;
}

.gifts__row span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #fff;
}

.gifts__row input {
  width: 255px;
  height: 40px;
  margin-left: 40px;
  border: none;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.02em;
  padding: 0 0 0 20px;
}

.gifts__row button {
  height: 40px;
  width: 185px;
  margin-left: 35px;
  border: none;
  padding: 0;
  font-size: 14px;
}

.footer {
  background: #212121;
  padding: 80px 0;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  max-width: 200px;
  color: white;
}

.footer__info p {
  margin-top: 30px;
  font-size: 14px;
  line-height: 22px;
}

.footer__info .logo {
  color: white;
}

.footer__link {
  display: flex;
  grid-gap: 75px;
}

.footer__column-names {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  color: white;
}

.footer__link-links {
  line-height: 22px;
  font-size: 14px;
  color: white;
}

.footer__logo {
  margin-right: 5px;
}

.after-footer {
  padding: 30px 0;
}

.after-footer__row {
  display: flex;
  justify-content: space-between;
}

.after-footer__item {
  font-size: 14px;
}
